main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }

section {
  height: 100px;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  section header {
    background-color: white; }
    section header h1 {
      color: blue; }
    section header p {
      color: black; }

main {
  height: 800px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 800px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1.5fr 1fr 1fr 1fr;
  grid-template-areas: "main-p main-p" "imagen-agregar imagen-carrito" "imagen-registrar imagen-comprar";
  justify-content: center;
  justify-items: center;
  align-items: center; }
  main .imagenes {
    height: 500px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center; }
  main h4 {
    color: red; }
  main p {
    color: black; }
  main .img-nosotros {
    display: none; }
  main .main-p {
    grid-area: main-p;
    text-align: justify;
    font-size: 1rem;
    line-height: 2rem; }
  main .imagen-agregar {
    grid-area: imagen-agregar; }
  main .imagen-carrito {
    grid-area: imagen-carrito; }
  main .imagen-registrar {
    grid-area: imagen-registrar; }
  main .imagen-comprar {
    grid-area: imagen-comprar; }
  main .img-nosotros {
    grid-area: img-nosotros;
    display: block; }

footer {
  text-align: center;
  font-size: 15px; }

@media screen and (min-width: 1024px) {
  header {
    flex-direction: row;
    justify-content: space-around; }
  main {
    grid-template-columns: repeat(4, 0.2fr);
    grid-template-areas: "main-p main-p img-nosotros img-nosotros" "imagen-agregar imagen-carrito imagen-registrar imagen-comprar"; } }

@media (max-width: 412px) and (min-width: 280px) {
  .container {
    flex-direction: column;
    align-items: center; } }
